In [1]:
import h5py

In [16]:
with h5py.File("dwell_tensionX.hdf5", "r") as file:
    keys = list(file.keys())
    cell = file['cell_to']['phase']
    position_data = cell[()]
    
position_data

array([[(b'Ti',     0)],
       [(b'Ti',     1)],
       [(b'Ti',     2)],
       ...,
       [(b'Ti', 12234)],
       [(b'Ti', 12235)],
       [(b'Ti', 12236)]], dtype=[('label', 'S4'), ('entry', '<i8')])

In [19]:
label_and_position = [[str(data[0][0])[2:-1], int(data[0][1])]for data in position_data]

In [21]:
label_and_position
print(len(label_and_position))

12240

In [22]:
beta_values = [data for data in label_and_position if data[0] == 'beta']
beta_values

[['beta', 0], ['beta', 1], ['beta', 2]]

In [23]:
position_values = [data for data in label_and_position if data[1] == 0]
position_values

[['Ti', 0], ['beta', 0]]

In [27]:
import pandas as pd
df = pd.DataFrame({
    "abs_position": [i for i in range(len(label_and_position))],
    "phase": [data[0] for data in label_and_position],
    "position": [data[1] for data in label_and_position],
})
df

       abs_position phase  position
0                 0    Ti         0
1                 1    Ti         1
2                 2    Ti         2
3                 3    Ti         3
4                 4    Ti         4
...             ...   ...       ...
12235         12235    Ti     12232
12236         12236    Ti     12233
12237         12237    Ti     12234
12238         12238    Ti     12235
12239         12239    Ti     12236

[12240 rows x 3 columns]

In [30]:
df.query("phase == 'beta'")

       abs_position phase  position
1781           1781  beta         0
11282         11282  beta         1
11818         11818  beta         2